/*********** Modularized Default Font family : Rubik(google font) ***********/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,hebrew,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,500,600,700,800|Merriweather:300,400,700,900|Montserrat:300,400,500,600,700|Noto+Sans:400,700|Open+Sans:400,600,700,800|Roboto:300,400,500,700|Source+Sans+Pro:300,400,600,700');

/********************************************************/
/*     CSS @imports must be at the top of the file      */
/*            Add them above this section               */
/********************************************************/




}
/********************************************************/
/******************** BASE STYLES ***********************/ 
/********************************************************/
.center             {text-align:center;}
.right              {text-align:right;}
.left               {text-align:left;}
.white              {color:#fff;}
.black              {color:#000;}
.bold               {font-weight: bold;}
.no-margins         {margin:0 !important;}

/********************************************************/

@font-face {
  font-family: concertone;
  src: url(../Fonts/ConcertOne.ttf);
}
@font-face {
  font-family: quicksand;
  src: url(../Fonts/Quicksand.ttf);
}





/********************************************************/
/*** Website background color and default font styles ***/
body {
  padding:0;
  margin:0;
  background: #fff;
  font-weight:100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* Headings */
h1, h2, h3, h4, h5, h6 { 
    margin:0px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {  }

h1 {
    font-size: 40px;
    margin:0px;
    font-family: inherit; 
    line-height:40px;
}
h2 {
    font-size: 32px !important;
    font-weight:800 !important;
    margin:0px;
    line-height:40px;
    font-family: inherit;   
}
h3 {
    font-size: 28px !important;
    font-weight:800 !important;
    margin:0px;
    font-family: inherit;   
}
h4 {
    font-size: 24px; important;
    font-weight:800; !important
    margin:0px;
    font-family: inherit;   
}
h5 {
    font-size: 22px; !important
    font-weight:500; !important
    margin:0px;
    font-family: inherit;   
}
h6 {
    font-size:16px; !important
    font-weight:500; !important
    font-family: inherit;   
}



/*********************** Footer styles ********************************/


/**********************Footer 01**************************/
.footer-bottom {
    background-color: #332941;
}




/********************** Base styles *********************/






/***************iPhone Portrait**************/
@media only screen and (max-width: 479px) and (min-width: 320px){
  
 
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px; !important 
  }
  h3 {
    font-size: 22px; !important
  }

}

/***************iPhone Landscape*************/
@media only screen and (max-width: 767px) and (min-width: 480px){

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px; !important 
  }
  h3 {
    font-size: 25px; !important
  }

}

/****************iPad Portrait***************/
@media only screen and (max-width: 985px) and (min-width: 768px){

}

/**************iPad Landscape****************/
@media only screen and ( max-width: 1300px ) and (min-width: 986px){
  
}
/******************************************************************/
/******************************************************************/









