/**BASE STYLE**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
* {
    font-family: quicksand;
}

/**END BASE STYLE**/

/**Scroll to top**/
a.scrollup:hover i.fa {
	color: #ececec;
}
a.scrollup span {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
a.scrollup span i{
    -webkit-mask-image: url(https://cdn2.hubspot.net/hubfs/3918364/web%202019/arrow_up.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    width: 15px;
    height: 15px;
    background: #fff;
  
}
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    text-align: center;
  	border: 2px solid #fff;
    display: none;
    color: #fff;
    cursor: pointer;
    z-index: 99999999;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-2px);
  }
  60% {
    transform: translateY(-2px);
  }
}

/**End Scroll to top**/

/**Header Styles**/

header{
    background:#ffffff;
    position: relative;
	position: fixed;
	top: 0;
    overflow: hidden;
    z-index: 999;
    width: 100%;
    box-shadow: 2px 5px 18px #333333;
}
header .headercont{
    display: flex;
    flex-wrap: wrap;
}
header .headercont .logo{
    width: 30%;
    padding: 10px 0 0 0;
}
header .headercont .logo img{
    height: 80px;
}
header .headercont .menu{
    width: 60%;
}
header .headercont ul.menuitems{
    display: inline-flex;
    list-style-type: none;
    padding-left: 0 !important;
    float: right;
    padding-top: 10px;
}
header .headercont ul.menuitems li{
    padding: 16px;
    font-size:16px;
    letter-spacing: 2px;
    text-transform: uppercase;

}
header .headercont ul.menuitems li a{
    text-decoration: none;
    padding: 8px;
    color: #000000;
    border-bottom: 3px solid #ffffff;
    
}
header .headercont ul.menuitems li:hover a,
header .headercont ul.menuitems li:focus a{
        border-bottom: 3px solid #f53240;
        transition: all .4s ease;
    }
    header .bars3{
        display:none;
    }
    header .bars3 i{
        font-size: 42px;
    }
    header .bars3 a{
        display: block;
        position: absolute;
        right: 15px;
        top: 20px;
        color: #000000;
    }

/**END Header Style**/

/**Footer Style**/

footer{
    background: #02c8a7;
    padding: 100px 0 40px 0;
    color: #ffffff;
}
footer .footersections{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  padding: 60px 0;
}
footer .footer1box{
    width: 30%;
}
footer .footer1box .footerlogo img{
    height: 120px;
}

footer .footer2box{
    width: 30%;
}
footer .footer3box{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer .footer3box .social svg{
    height: 30px;
    width: 30px;
    margin: 15px;
    fill: #ffffff;
}
footer .footer3box .social:hover svg{
    fill: #f53240;
}
.copyright{
    padding:5px;
    background: #333333;
    color: #ffffff;
    text-align: center;
}

/**End footer style**/


/**Map Module**/

/*********************** base ***********************/
section.map-module .contact p, section.map-module .company_name{
    margin-top: 0px;
}
.map-module a {
  text-decoration: none;
  letter-spacing: 2px;
}

/**********************************************/
.map-module{
  	width:100%;
  	float:left;
    padding:0 !important;
    height:500px !important;
}
.map-module .map-section{
    position:relative;
}
.map-module .overlay-section{
    width: 480px !important;
    position:absolute;
    top: 25%;
    background-color:#fff;
    color:#000 !important;
    padding: 26px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.08);
    border-radius: 3px;
    left: 10px;
  display:flex;
  flex-wrap:wrap;
}
section.map-module .company_name{
  width:50%;
}
.map-module .social li a:hover{
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    -ms-filter: brightness(1.2);
    -o-filter: brightness(1.2);
  }
.map-module .contact{
  width:50%;
}
.map-module .social{
    width:140px;
    display: block;
    box-sizing: border-box;
    height: 35px;
    padding-left:0;
    overflow:hidden;
}
.map-module .social li{
    float:left;
    width:35px;
    height:35px;
    line-height:35px;
    text-align:center;
    list-style:none;
}
.map-module .social li:first-child{
		border-radius: 3px 0 0 3px;
}
.map-module .social li:last-child{
		border-radius: 0 3px 3px 0;
}
.map-module .social li a{
    display:block;
    color:#fff;
}

.map-module .contact span{
    float:left;
    font-weight:400;
    margin-bottom:10px;
}
.map-module .contact span a{
    margin-left:10px;
    letter-spacing:0;
}
.map-module .contact span svg{
    color: #413454;
    width:15px;
}
.map-module iframe{
   /* -webkit-filter: grayscale(100%);*/ /* Safari 6.0 - 9.0 */
   /* filter: grayscale(100%);*/
    width:100% !important;
    height:500px !important;
}
.map-module h4{
    color:#252730;    
}
.map-module .place-card.place-card-large{
    display:none !important;
}
.map-module .map_container{
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
    -moz-filter: brightness(90%);
    -o-filter: brightness(90%);
    -ms-filter: brightness(90%);
}
.map-module .social li a svg {
    color: #fff !important;
    width: 20px;
    height:20px;
    fill: #fff;
    padding-top: 5px;
}
/***************iPhone Portrait**************/
@media only screen and (max-width: 479px) and (min-width: 320px){
.map-module{
    height:100% !important;
}
.map-module iframe{
    height:350px !important;
}
.map-module .social{
    width: 66%;
}
.map-module .map-section,.map-module .overlay-section{
    position:inherit !important;
}
.map-module .overlay-section{
    width:100% !important;
    float:left;
    margin: 40px 0;
    padding:0;
}
.map-module .page-center{
    width:100% !important;
}
  section.map-module .company_name{
  width:100%;
}
.map-module .contact{
  padding-top:30px;
  width:100%;
  display: flex;
  flex-direction: column;
}
}
/**********************iPhone Landscape*************/
@media only screen and (max-width: 767px) and (min-width: 480px){
.map-module{
    height:100% !important;
}
.map-module iframe{
    height:350px !important;
}
.map-module .social{
    width: 35%;
}
.map-module .map-section,.map-module .overlay-section{
    position:inherit !important;
    padding:0;
}
.map-module .overlay-section{
    width:100% !important;
    float:left;
    margin: 40px 0;
}
.map-module .page-center{
    width:100% !important;
}
.map-module .contact span{
    margin-right: 20px;
}
}
/*************************iPad Portrait***************/
@media only screen and (max-width: 985px) and (min-width: 768px){
.map-module .overlay-section{
    width: 100% !important;
    padding:0;
  }
.map-module{
    height:100% !important;
}
.map-module iframe{
    height:250px !important;
}
.map-module .social{
    width: 50%;
}
.map-module .map-section,.map-module .overlay-section{
    position:inherit !important;
}
.map-module .overlay-section{
    width:100% !important;
    float:left;
    margin: 40px 0;
}
.map-module .page-center{
    width:100% !important;
}
.map-module .contact span{
    margin-right: 20px;
}
}
/**************iPad Landscape***************/
@media only screen and ( max-width: 1024px ) and (min-width: 986px){
.map-module .overlay-section{
    width: 550px;
}
.map-module .social{
    width: 65%;
}
.map-module .overlay-section{
    left: 1%;
    padding: 20px
}
}
/***END MAP Module***/
body{
    margin:0 !important;
    padding: 0 !important;
}
.page-center{
    max-width:1170px;
    margin:0 auto;
    clear: both;
}
.homebanner{
    min-height:380px;
    padding:200px 0 60px 0;
    display: flex;
    align-items: center;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    clear: both;
}
.homebanner h1{
    font-size:48px !important;
    color: #ffffff;
    text-transform: uppercase !important;
    text-align: center; 
    text-shadow: 2px 2px #000000;
    line-height: 1.5;
}
.aboutus{
    padding:100px 0;
    padding-bottom: 0 !important;
}
.aboutus .maintexts{
    padding-bottom:50px;
    text-align: center;
}
.aboutus .maintexts .imgdiv{
    min-height: 400px;
    width: 100%;
    border-radius: 10px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.aboutus .maintexts h2{
    padding-bottom: 50px;
}
.aboutus .maintexts p{
    font-size: 20px;
    padding: 30px 0 10px 0;
}
.aboutus .misnvisn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.aboutus .misvis{
    width:35%;
    padding:40px 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.2);
    -o-box-shadow: 0 0 15px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.aboutus .misvis:hover,
.aboutus .misvis:focus{
    transform: scale(1.05);
    transition: all .5s ease;
}
.aboutus .misvis h3{
    padding-bottom: 16px;
}
.aboutus .misvis p{
    font-size: 20px;
}
.homeservices{
    padding:80px 0;
    padding-bottom:60px;
    color:#000000;
}
.homeservices .textsec{
    padding: 30px 20px;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
}
.homeservices .services{
    padding-top:30px;
    display: flex;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: center;

}
.homeservices .services .serviceitems{
    width:25%;
}
.homeservices .services .contents{
    padding:0 50px 20px 50px;
}
.homeservices .servimg{
    height: 200px;
    width:100%;
    margin:0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

@keyframes blink {
    0% {width: 100%;}
    50% {width: 94%;}
    100% {width: 100%;}
  }
.homeservices h3{
    padding-top: 30px;
    min-height:72px;
}
.homeservices .services .serviceitems hr{
    height:3px;
    border:0; 
    background-color: #000000;
}

.homehowitworks{
    display: flex;
    flex-wrap: wrap;
}
.homehowitworks .textsec{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    background: #f53240;
    color: #ffffff;
    padding: 60px 0;
}
.homehowitworks .heading{
    padding: 30px 40px 0px 40px;
    width: 100%;
    text-align: center;
}

.homehowitworks .contentrows{
    width: 33.3333%;
}
.homehowitworks .contentrows div{
    margin:50px;
}
.homehowitworks .contentrows div img{
    height: 50px;
    margin-bottom: 12px;
}
.homehowitworks .contentrows div hr{
    width: 80%;
    height: 3px;
    background: #ffffff;
    border: 0;
    margin-left: 0;
    margin-bottom: 20px;
}
.homehowitworks .contentrows div p{
    font-size: 18px;
}
.homehowitworks .imagesec{
    width: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.homewhyus{
    padding: 100px 0;
    color: #333333;
}
.homewhyus .headertext{
    padding: 50px 0;
    text-align: center;
}
.homewhyus .points{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.homewhyus .pointrows{
    width: 25%;
    padding: 50px 40px;
    text-align: center;
}
.homewhyus .pointrows h5{   
    min-height: 56px;
}

.homewhyus .pointrows hr{   
    height: 2px;
    background: #333333;
    border: 0;
    margin-top: 30px;
    margin-bottom: 20px;
}

/*************Responsive Styles*****************/
/**************iPad Landscape***************/
@media only screen and ( max-width: 1024px ) and (min-width: 986px){
    
}

/*************************iPad Portrait***************/
@media only screen and (max-width: 985px) and (min-width: 768px){
    .page-center{
        max-width:96%;
    }
    header .headercont ul.menuitems{
    padding-top: 0px;
    }
    header .headercont ul.menuitems li{
        padding: 10px;
        font-size:20px;
        margin-top: 10px;
    }
    
    footer .footer3box .social svg {
        margin: 10px;
    }
    .homebanner{
        min-height: 240px;
    }
    .aboutus{
        padding:80px 0;
    }
    .aboutus .misvis{
        width:72%;
        margin-bottom: 50px;
    }
    .homeservices .services {
        justify-content: space-around;
    }
    .homeservices .services .serviceitems{
        width:49%;
    }
    .homehowitworks .textsec{
        width: 100%;
        padding: 40px;
    }
    .homehowitworks .heading{
        padding: 30px 10px 20px 10px;
        width: 100%;
    }
    
    .homehowitworks .contentrows{
        width: 100%;
    }
    .homehowitworks .contentrows div{
        margin:10px;
    }
    .homehowitworks .imagesec{
        width: 100%;
        height: 360px;
    }
    .homewhyus .pointrows{
        width: 40%;
        padding: 20px 20px;
    }
}

/**********************iPhone Landscape*************/
@media only screen and (max-width: 767px) and (min-width: 480px){
    .page-center{
        max-width:96%;
    }
    .aboutus{
        padding:70px 0;
    }
    .aboutus .misvis{
        width:72%;
        margin-bottom: 50px;
    }
    .aboutus .maintexts .imgdiv{
        min-height: 240px;
    }
    .homeservices {
        padding: 30px 0;
    }
    .homeservices .services .serviceitems{
        width:100%;
    }
    .homeservices .services .contents{
        text-align: center;
    }
    header .headercont .menu{
        width: 100%;
        text-align: center;
    }
    header .page-center{
        max-width:100%;
    }
    header .headercont ul.menuitems{
        float: none;
        padding-top: 24px;
        display: block;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    header .headercont ul.menuitems li{
        padding: 20px 0;
        padding-top: 0 !important;
        font-size:20px;
        text-align: center;
    }
    header .headercont .menu{
        display: none;
    }
    header .bars3{
        width: 30%;
        display:block;
    }
    header .bars3 i{
        font-size: 50px;
    }
    header .bars3 a{
        right: 30px;
        top: 24px;
    }
    header .headercont ul.menuitems li:last-child{
        padding-bottom: 17px;
    }
    header .headercont ul.menuitems li a{
        border-bottom: 0px solid #ffffff;
        
    }
    header .headercont ul.menuitems li:hover a,
    header .headercont ul.menuitems li:focus a{
            border-bottom: 0px solid #f53240;
        }
    .homebanner{
        min-height: 140px;
    }
    .homehowitworks .textsec{
        width: 100%;
        padding: 20px;
    }
    .homehowitworks .heading{
        padding: 30px 10px 20px 10px;
        width: 100%;
    }
    
    .homehowitworks .contentrows{
        width: 100%;
    }
    .homehowitworks .contentrows div{
        margin:10px;
    }
    .homehowitworks .imagesec{
        width: 100%;
        height: 300px;
    }
    .homewhyus {
        padding: 30px 0;
    }
    .homewhyus .pointrows{
        width: 80%;
        padding: 20px 20px;
    }
    footer{
        text-align: center;
        padding: 30px 0 20px 0;
    }
    footer .footer1box{
        width: 100%;
        padding-bottom: 30px;
    }
    footer .footer2box{
        width: 100%;
        padding-bottom: 30px;
    }
    footer .footer3box{
        width: 100%;
        padding-bottom: 30px;
    }
}

/***************iPhone Portrait**************/
@media only screen and (max-width: 479px) and (min-width: 320px){
    .page-center{
        max-width:98%;
    }
    .aboutus{
        padding:60px 0;
    }
    .aboutus .misvis{
        width:72%;
        margin-bottom: 40px;
    }
    .aboutus .maintexts .imgdiv{
        min-height: 240px;
    }
    .homeservices {
        padding: 30px 0;
    }
    .homeservices .services .serviceitems{
        width:100%;
    }
    .homeservices .services .contents{
        padding:0 20px 20px 20px;
        text-align: center;
    }
    header .page-center{
        max-width: 100%;
    }    
    header .headercont .logo{
        padding: 10px 0 10px 0;
        width: 60%;
    }
    header .headercont .logo img{
        height: 72px;
    }
    header .headercont .menu{
        width: 100%;
    }
    header .headercont ul.menuitems{
        float: none;
        display: block;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    header .headercont ul.menuitems li{
        padding: 33px 0;
        padding-top: 0 !important;
        font-size:14px;
        text-align: center;
    }
    header .headercont ul.menuitems li:last-child{
        padding-bottom: 17px;
    }
    header .headercont ul.menuitems li a{
        border-bottom: 0px solid #ffffff;
        
    }
    header .headercont ul.menuitems li:hover a,
    header .headercont ul.menuitems li:focus a{
            border-bottom: 0px solid #f53240;
        }
    header .headercont .menu{
        display: none;
    }
    header .bars3{
        width: 30%;
        display:block;
    }
    header .headercont ul.menuitems li:hover a,
    header .headercont ul.menuitems li:focus a{
        border-radius: 0px;
    }
    .homebanner{
        min-height: 140px;
    }
    .homehowitworks .textsec{
        width: 100%;
        padding: 20px;
    }
    .homehowitworks .heading{
        padding: 30px 10px 20px 10px;
        width: 100%;
    }
    
    .homehowitworks .contentrows{
        width: 100%;
        text-align: center;
    }
    .homehowitworks .contentrows div{
        margin:10px;
        margin-top: 36px;
    }
    .homehowitworks .contentrows div hr{
        width: 100%;
    }
    .homehowitworks .imagesec{
        width: 100%;
        height: 200px;
    }
    .homewhyus {
        padding: 30px 0;
    }
    .homewhyus .pointrows{
        width: 90%;
        padding: 20px 20px;
    }
    footer {
        padding: 30px 0 20px 0;
    }
    footer .footersections{
        padding: 30px 0;
        text-align: center;
    }
    footer .footer1box{
        width: 100%;
        padding-bottom: 30px;
    }
    footer .footer2box{
        width: 100%;
        padding-bottom: 30px;
    }
    footer .footer3box{
        width: 100%;
        padding-bottom: 30px;
    }
}
